<%= stylesheet_link_tag "top", :media => "all" %>

<body>

  <div class="container">
    <div class="header">
      <h2 id="top-title">京都大学 東野研究室</h2>
      <!-- headerに各ページへのリンクを設置 -->
      <div class="top-link">
        <div class="row">
          <div class="col-md-6">
            <%= link_to  "Home", root_path %>
          </div>
          <div class="col-md-6">
            <%= link_to  "Member", members_path %>
          </div>
          <div class="col-md-6">
            <%= link_to  "Reseach Overview", researchs_overview_path %>
          </div>
          <div class="col-md-6">
            <%= link_to  "Reseach Work", researchs_work_path %>
          </div>
        </div>
      </div>
    </div>

    <!-- 以下、それぞれのコントローラを作りページを作成する -->
    <!-- erbのコメントアウトは下記のようにしたらできる -->
    <%- if false -%>
    <%= link_to  "Album", _path %>
    <%= link_to  "Career", _path %>
    <%= link_to  "Schedule", _path %>
    <%= link_to  "Access", _path %>
    <%- end -%>

    <div class="top-main">
      <h1>Top#index</h1>
      <p>Hey! This is page top!</p>
    </div>
  </wrapper>
</body>
