<%= stylesheet_link_tag "inside/users_index", :media => "all" %>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Tohno Labo</title>
</head>
<body>
  <div class="wrapper"></div>
  <div class="contents">
    <h1>Members</h1>
    <ul>
      <!-- ここはlabo menberの個人紹介ページ -->
      <!-- ※現段階では個別のリンクを辿っているが、本当はココに全員分の紹介をしたい -->
      <li><%= link_to "nao", '/users/show/naotter' %></li>
      <li><%= link_to "nao", '/users/show/naotter' %></li>
      <li><%= link_to "nao", '/users/show/naotter' %></li>
      <li><%= link_to "nao", '/users/show/naotter' %></li>
      <li><%= link_to "nao", '/users/show/naotter' %></li>
      <li><%= link_to "nao", '/users/show/naotter' %></li>
    </ul>
  </div>

</body>
</html>
