<div class="footer-contents cosmos">
  <div class="footer-links">
    <%= link_to "About us", "#" , :class => "text-muted" %>
    &nbsp; | &nbsp; <%= link_to "History", "#" , :class => "text-muted" %>
    &nbsp; | &nbsp; <%= link_to "Links", "#" , :class => "text-muted" %>
    &nbsp; | &nbsp; <%= link_to "Comments", comments_path , :class => "text-muted" %>
    &nbsp; | &nbsp; <%= link_to "Contact", "#" , :class => "text-muted" %>
  </div>
  <div class="social-links">
    <a href="http://twitter.com/share?url=http://www.google.com&text=Wellcome;to;Tohnolabo" target="_blank" class="btn azm-social azm-size-64 azm-circle azm-long-shadow azm-github"><i class="fa fa-twitter"></i></a>
    <a href="#" class="btn azm-social azm-size-64 azm-circle azm-long-shadow azm-facebook"><i class="fa fa-facebook"></i></a>
    <a href="#" class="btn azm-social azm-size-64 azm-circle azm-long-shadow azm-google"><i class="fa fa-google"></i></a>
    <a href="#" class="btn azm-social azm-size-64 azm-circle azm-long-shadow azm-youtube"><i class="fa fa-youtube"></i></a>
    <a href="#" class="btn azm-social azm-size-64 azm-circle azm-long-shadow azm-github"><i class="fa fa-github"></i></a>
  </div>
  </br>
  <p id="copyRight">&copy; 2016 Nao Tsukamoto All Right Reserved.</p>
</div>
