<h1 id="site-title">Tohno Labo</h1>

<%= image_tag("kyotouni_logo.png", :size => "100x100", :alt => "Kyoto University", :id => "logo") %>

<span class="menubar">
  <%= menu_link_to "TOP",  root_path %>
  &nbsp; | &nbsp; <%= menu_link_to "Member",  members_path %>
  &nbsp; | &nbsp; <%= menu_link_to "Research Overview",  researchs_overview_path %>
  &nbsp; | &nbsp; <%= menu_link_to "Research Work",  researchs_work_path %>
  &nbsp; | &nbsp; <%= menu_link_to "Album",  "#" %>
  &nbsp; | &nbsp; <%= menu_link_to "Carrier", carrier_path %>
  &nbsp; | &nbsp; <%= menu_link_to "Schedule",  "#" %>
  &nbsp; | &nbsp; <%= menu_link_to "Access",  map_path %>
  &nbsp; | &nbsp; <%= menu_link_to "Admin",  rails_admin_path %>
</span>
