<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- back to pagetop with bootstrap -->
    <p id="page-top"><a href="#">PAGE TOP</a></p>

    <!-- flash message from devise-->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div id="container">
      <!-- header -->
      <div id="header">
        <div class="layerTransparent">
          <%= render "shared/header" %>
        </div>
      </div>
      <hr id="header-bottom">


      <!-- breadcrumbs:パンくずリスト -->
      <ul class="breadcrumb">
        <%= making_breadcrumb(0) if now_path.empty? %>
        <% (0...now_path.length).each do |i| %>
        <%= making_breadcrumb(i) %>
        <% end %>
      </ul><!-- breadcrumb -->

      <!-- contents -->
      <div id="contents" >
        <%= yield %>
      </div>

      <!-- footer -->
      <div id="footer">
        <%= render "shared/footer" %>
      </div>
    </div><!-- container -->

  </body>
</html>
