<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container">
      <!-- header -->
      <div id="header">
        <div class="layerTransparent">
          <%= render "shared/header" %>
        </div>
      </div>
      <hr id="header-bottom">


      <!-- breadcrumbs:パンくずリスト -->
      <ul class="breadcrumb">
        <% full_path = request.path_info %>
        <% @paths = full_path.split("/") %>
        <% @paths.length.times do |i| %>
        <%= making_breadcrumb(i) %>
        <% end %>
      </ul><!-- breadcrumb -->

      <!-- contents -->
      <div id="contents" >
        <%= yield %>
      </div>

      <!-- footer -->
      <div id="footer">
        <%= render "shared/footer" %>
      </div>
    </div><!-- container -->

  </body>
</html>
