<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container">
      <div id="header">
        <div class="layerTransparent">
          <%= render "shared/header" %>
        </div>
      </div>
      <hr id="header-bottom">

      <!-- breadcrumbs:パンくずリスト -->
      <ul class="breadcrumb">
        <li><a href="#">a</a></li>
        <li><a href="#">b</a></li>
        <li>c</li>
      </ul><!-- breadcrumb -->

      <div id="contents" >
        <%= yield %>
      </div>
      <div id="contents" >
        <%= yield %>
      </div>
      <div id="contents" >
        <%= yield %>
      </div>
      <div id="contents" >
        <%= yield %>
      </div>
      <div id="contents" >
        <%= yield %>
      </div>
      <div id="contents" >
        <%= yield %>
      </div>
      <div id="contents" >
        <%= yield %>
      </div>
      <div id="contents" >
        <%= yield %>
      </div>
      <div id="contents" >
        <%= yield %>
      </div>
      <div id="contents" >
        <%= yield %>
      </div>
      <div id="contents" >
        <%= yield %>
      </div>

      <div id="sidebar">
      </div>

      <div id="footer">
        <%= render "shared/footer" %>
      </div>
    </div><!-- container -->

  </body>
</html>
